<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country search</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link
            href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
            rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(function(){
            $("#Country_Name").autocomplete({
                source: "countryNamesAutocomplete",
                minLength:3
            })
        });
    </script>
</head>
<body>
<form action="#" th:action="@{find}" th:object="${country}" method="post">
    <input id="Country_Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="description" th:field="*{name}"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>